:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        background-color: #f2f2f2;
        border-bottom: 1px solid #b3b3b3;
        padding: 10px 20px;
        h3 {
            margin: 0;
        }
    }
    
    .body {
        flex-grow: 1;
        overflow-y: auto;
        .container-fluid {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
    .footer {
        padding: 10px;
        background-color: #f2f2f2;

        color: white;
    }
}