
<div class="body">
    <h4>{{ user.first_name + ' ' + user.last_name }}</h4>
    <p class="description">{{ user.username }}</p>
    <div class="balance">
        <a class="btn btn-sm btn-primary" (click)="editBalance()">
            Balance
        </a>
    </div>
    <a class="btn btn-primary" (click)="onPermissions()">
        Permissions
    </a>
</div>
<div class="end">
    <a class="btn btn-primary btn-sm" (click)="onEdit()">Edit <i class="fas fa-edit"></i></a> &nbsp;
    <a class="btn btn-danger btn-sm" (click)="onDelete()">Delete <i class="fas fa-minus-circle"></i></a>
</div>
